.feature-image {
    margin: 20px auto;
    aspect-ratio: 16/9;
    max-height: 350px;
}

.standard h2 {
    font-size: 3.5em;
    margin-top: 20px;
}

.standard h3 {
    font-size: 2em;
    font-weight: 400;
    margin: 30px 0px 10px 0px;
}

.standard h4 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 20px 0px 5px 0px;

}

.html {
    margin-top: 40px;
}

.featured {
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .feature-image {
        margin: 80px 0 0 20px;
        aspect-ratio: 16/9;
        max-height: 350px;
        float: right;
    }

    .standard h2 {
        margin-top: 80px;
    }
}
