.img-gallery {
    margin: auto;
    max-width: 50%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    grid-column-gap: 2rem;
    grid-row-gap: 0.8rem;
}

.img-thumb {
    height: 10rem;
    width: 10rem;
}

.img-modal {
    height: auto;
}

.img-container {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.modal-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

@media only screen and (max-width: 920px) {

    .img-gallery {
        grid-template-columns: 50% 50%;
        grid-column-gap: 4.5rem;
    }

    .img-thumb {
        height: 15rem;
        width: 15rem;
    }
}

@media only screen and (max-width: 768px) {
    .img-gallery {
        grid-template-columns: 100%;
    }
}
